<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Cap-o-matic</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- <meta name="description" content="RubyLearning.org" /> -->
    <!-- <meta name="keywords" content="rubylearning,ruby,ruby programming,ruby course,sinatra course" /> -->
    <link rel='stylesheet' type='text/css' href='/style.css'/>
    <!-- <link rel="icon" type="image/ico" href="/images/favicon.ico" /> -->
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1><a href="/">Cap-o-matic</a></h1>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div id="footer">
      </div>
    </div>
  </body>
</html>
