body {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 15pt;
  margin: 0 auto;
}

table {
  width: 80%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  text-align: center;
  margin-left: 5%;
  border-width: 5px;
  border-color: green;
  border-style: outset;
}

th {
  height: 50px;
  background-color: green;
  color: white;
}

tr:hover td
{
  background-color: #C0C0C0;
}

.console {
  margin-left:1%;
  font-size: 0.6em;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

