<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Metadata</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>Who: <%= metadata.who %></li>
      <li>Date: <%= metadata.started %></li>
      <li>Command: <pre><%= metadata.cmd %></pre></li>
    </ul>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Output</h3>
  </div>
  <textarea rows="40" cols="177" id="outputText">
    <%= log.join('') %>
    </textarea >
  </div>
</div>
